<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="pl.luckboy.issuenotifier" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="11"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application android:label="@string/app_name" android:theme="@android:style/Theme.Holo.Light" android:icon="@drawable/app_icon">
        <activity android:name=".MainActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="SettingsActivity"></activity>
        <service android:name="MainService"></service>
        <receiver android:name="MainReceiver">
            <intent-filter>
                <action android:name="pl.luckboy.issuenotifier.MainReceiver.ActionIssuePairs"/>
            </intent-filter>
        </receiver>
        <activity android:name="IssuePairListActivity"></activity>
        <activity android:name="IssueListActivity"></activity>
        <activity android:name="IssueActivity"></activity>
        <receiver android:name="AlarmReceiver"></receiver>
        <receiver android:name="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package" android:path="pl.luckboy.issuenotifier"/>
            </intent-filter>
        </receiver>
        <activity android:name="LicenseActivity"></activity>
        <activity android:name="ThirdPartyActivity"></activity>
    </application>
</manifest>
